<%- layout('layouts/main') %>
<section id="app">
    <!--h1><%= user._id%></h1-->
    <%= user.email %>
    <%= posts%>
    <!--
    <%= user.password %>
    -->    
    <div class="form-container">
        <form action="/publicar/<%= user._id%>" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Ingrese Titulo">
            <textarea name="description" id="" cols="30" rows="10" placeholder="Descripcion"></textarea>
            <input type="file" name="file" placeholder="Subir imagen">
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>

