<%- layout('layouts/main') %>
<section id="app">
    <!--h1><%= user._id%></h1-->
    <%= user.email %>
    <section>
        <% for(let i=0; i < posts.length; i++ ){%>
            <h2><%= posts[i].title%></h2>
            <p><%= posts[i].description%></p>
            <img src="<%= posts[i].imageUrl%>" alt="imagen">
        <% } %>
    </section>
    <!--
    <%= user.password %>
    -->

    <form action="/publicar/<%= user._id%>" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="title">
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        <button type="submit">Enviar</button>
    </form>
</section>
