<%- layout('layouts/main') %>
<section id="app">
    <!--h1><%= user._id%></h1-->
    <%= user.email %>
    <%= posts%>
    <!--
    <%= user.password %>
    -->


    
    <form action="/publicar/<%= user._id%>" method="post">
        <input type="text" name="title">
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        <button type="submit">Enviar</button>
    </form>
</section>
